.delete-spot-modal {
  display: flex;
  border-radius: 10px !important;  
  max-width: 400px;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  }
  
  .delete-spot-modal h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .delete-spot-modal p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;  
  }
  
  .delete-spot-buttons {
    display: flex;
    flex-direction: column;  
    gap: 10px;  
  }
  
  .delete-button {
    background-color: #ff5a5f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #e13a3a;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-button:hover {
    background-color: #999;
  }