.spot-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));  
    gap: 25px;
    padding: 25px;
    margin: 0 auto;
    max-width: 1300px;
  }
  .spot-list .spot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px; 
  }

   
  .spot-tile {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid #000000 !important;
    border-radius: 17px;
    overflow: hidden;
    text-decoration: none !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .spot-tile:hover {
    transform: translateY(-5px);  
    color: #FF5A5F;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  
    opacity: 0.9;
  }
  
  
  .spot-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }
  
  
  .spot-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }
  
  
  .spot-name {
    font-size: 19px;
    font-weight: bold;
    color: #222;
    margin-bottom: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
    text-decoration: none;
  }
    
  
  .spot-location {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
   
  .spot-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  
  .spot-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    text-decoration: none;
  }
  
  .star-icon {
    font-size: 18px;
    text-decoration: none;
  }
  
   
  .spot-rating span {
    font-style: italic;
    color: #888;
    text-decoration: none;
  }
  
  
  @media (max-width: 750px) {
    .spot-list {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 480px) {
    .spot-list {
      grid-template-columns: 1fr;
    }
  }
  .loading {
    text-align: center !important;
    font-size: 1.5rem !important;
    color: grey !important;
    margin-top: 50px !important;
  }
  .no-spots-message {
    text-align: center;
    font-size: 1rem; 
    color: black; 
    margin-top: 50px; 
  }