.delete-review-modal {
    display: flex;
    border-radius: 10px !important;  
    max-width: 400px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .delete-review-modal h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .delete-review-modal p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;  
  }
  
 .delete-review-buttons {
    display: flex;
    flex-direction: column;  
    gap: 10px;  
  }
  .delete-button {
    background-color: #ff5a5f;
    width: 400px;  
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .cancel-button {
    background-color: #444;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .delete-button:hover {
    background-color: #e0484f;
  }
  
  .cancel-button:hover {
    background-color: #333;
  }